extends layout
block content
	h1
		Yo List of Airlines and the frequencies they have reported wildlife strikes:
	h2.
		In this group, civilian aircraft are more often damaged more significantly. There appear to be few differences between actual airlines. 