extends layout

block content
<<<<<<< HEAD
    h1.
        Airport Struck by Animal
    ul
        each user, i in airport
            li
                 p  #{user.AIRPORT}
=======
	h1 
		yo List of airports and the frequencies they have reported wildlife strikes:
	h4
		ul
			each user, i in airport
				li #{user.SPECIES} grr
>>>>>>> origin/master
