extends layout
block content
	h1
		Yo List of animals hit by airplanes:
	h2.
	97% of animals struck by airplanes are birds. The white tailed deer is the most common non-bird species to be struck.
	Other animals include skunks, coyotes, turtles and alligators. Bird remains are apparently identified either by employed biologists at the airport or by the Smithsonian Institution's Feather Identification Laboratory.
