

extends layout

block content
    h1.
        Breakfast List
    ul
        each user, i in breakfasts
            li
               p  #{user.breakfast} has rating  #{user.rating}
//a(href="mailto:#{user.email}")= user.username
