extends layout
block content
	h1 
		Yo Some remarks by pilots:
	h5
		p STRUCK FRONT LDG GEAR AND NOSE. NO DMG. REMAINS COLLECTED BY OPS. ID BY USDA/WS. 8 BIRDS STRUCK. RWY CLOSED FOR 20 MINS FOR CLEAN UP. <br />
		
		p BIRD FLEW THRU #1  PROP  DURING LANDING FLARE. FOUND FEATHER PATTERN OF SCRATCHES ON ONE BLADE. NO DMG. BIRD CAPTURED LIVE, TAKEN TO ALASKA RAPTOR CENTER. <br />

		p 2 ROCK PIGEONS FOUND ON N SHOULDER OF RWY 1/3 OF THE WAY DOWN DURING ROUTINE RWY INSPN. NO REPT OF BIRDSTRIKE. 0816 AM DAY. <br />

		p  There was a large explosion and a bird hit the pilot in the face during a night flight. His goggles were knocked off and he was bleeding. The front canopy had blown out. The aircraft was slowed and they made a precautionary landing without incident.  A second bird broke out the left side co/pilot’s window and that duck hit the nurse in the back seat injuring his arm. A couple of birds went through the rotor system damaging the blades and took a chunk out of the main rotor hub hat. The pilot was taken to the hospital. <br />
