extends layout
block content
	h1 
		Yo Number of hits per time of day:
	p Dawn: 
	p Day:
	p Dusk:
	p Night:

	h2.
		More than 60% of bird strikes for occur during the day, another 30% occur at night. Dawn and dusk make up the rest. 