doctype html
html
extends layout
block content
	h1.
		Wildlife Airplane Collision Stats
	ul
		a(class='button',href = 'airline') Airline  <br />
		a(class='button',href = 'airport') Airport <br />
		a(class='button',href = 'animal') Animal Types <br />
		a(class='button', href= 'timeday') Time of Day  <br />
		a(class='button',href = 'timeyear') Time of Year <br />
		a(class='button',href = 'remarks') Remarks <br />
		


