doctype html
html
extends layout
block content
	h1
		Yo Wildlife Airplane Collision Stats
	ul
		a(class='button',href = 'airline') Airline  <br />
		a(class='button',href = 'Airport') Airport <br />
		a(class='button',href = 'AnimalType') Animal Types <br />
		a(class='button', href= 'TimeDay') Time of Day  <br />
		a(class='button',href = 'TimeYear') Time of Year <br />
		a(class='button',href = 'Remarks') Remarks <br />
		


